html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*, *:before, *:after   {
    margin: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

body    {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

header  {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

#icon   {
    transition: color 0.7s;
    font-size: 30px;
    padding: 1vw;
}

#icon:hover {
    color: #5e4747;
    cursor: pointer;
}

.grid-size  {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.form   {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
}

#row-input    {
    margin-left: 77px;
}

input   {
    text-align: center;
    margin-left: 50px;
    width: 5vw;
}

.color-box  {
    padding: 0.5vw;
    margin: 0.15vh;
    margin-top: 1vh;
}

#black  {
    color: #ffffff;
    background-color: #0c0c0c;
    cursor: pointer;
}

#crazy  {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

#rainbow  {
    color: #ffffff;
    background-color: #4B0082;
    cursor: pointer;
}

.icons-options  {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

main    {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

#container  {
    display: inline-flex;
    flex-direction: column;
    margin-top: 5vh;
    border: 1px solid #000000;
}

.row    {
    display: inline-flex;
    flex-direction: row;
}

.box    {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
}

footer  {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #474747;
    color: aliceblue;
    font-size: 13px;
    margin-top: auto;
    height: 40px;
    width: 100%;
}

#icon-size  {
    color: white;
    font-size: 23px;
    padding: 5px;
}